<section id="infos" class="home --switch">
    <h2 role="heading" aria-level="2">Curriculum Vitae</h2>
    <article class="home__cv">
        <img src="{{ asset("build/img/cv_oriane_toque.png") }}" alt="prévisualisation CV">
        <span class="home__cv-download">
            <a href="{{ path("app_cv") }}" role="button" aria-label="download cv.pdf">
                <i class="fas fa-file-download"></i>
            </a>
        </span>
        <span class="home__cv-update">
            Mise à jour : <time datetime="2021-08-15">Août 2021</time>
        </span>
    </article>
</section>