{# Projects #}
<section id="project" class="home">
    <h2 role="heading" aria-level="2">Projets réalisés</h2>
    
    <ul class="home_projects" role="list">
        {# 1 project #}
        <li class="home__projects-project" role="listitem">
            <h3 role="heading" aria-level="3">Place2Go</h3>
            {# 1 picture + infos tech project #}
            <figure class="home__projects-project__img">
                <img src="#" alt="Place2Go" role="img">
                <figcaption class="home__projects-project__img--icons">
                    <div class="project__icons">
                        {# 1 icon #}
                        <p class="project__icons-icon" role="img" aria-label="HTML"><i class=""></i></p>
                        {# fin 1 icon #}
                    </div>
                    {# link from details page #}
                    <a href="#details" role="link" aria-label="Détails du projet"><i></i></a>
                </figcaption>
            </figure>
            {# fin 1 picture project #}
        </li>
        {# fin 1 project #}
    </ul>
</section>